input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

.form-control:focus {
  box-shadow: none;
  -ms-box-shadow: none;
}

.form-control.error {
  color: #495057 !important;
  border-bottom-color: $error !important;
}

.form-control::placeholder {
  color: $light-gray;
}

.float-label {
  padding-top: 15px;
  position: relative;
}

.form-group .form-control-label {
  font-size: 13px;
  line-height: 18px;
  color: $label-color;
}

.float-label .form-control-label {
  position: absolute;
  left: 0;
  top: 24px;
  margin: 0;
  line-height: 20px;
  color: $label-color;
  font-size: 15px;
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  -ms-transition: ease all 0.5s;
  -moz-transition: ease all 0.5s;
  z-index: 0;
}

.float-label .form-control,
.float-label .chosen-container .chosen-choices,
.float-label .chosen-container .chosen-single {
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-radius: 0;
  z-index: 1;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
}

.float-label .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  outline: none;
}

.float-label .form-control:focus + .form-control-label,
.float-label.active label {
  top: 0;
  font-size: 13px;
  line-height: 20px;
}

.form-control-lg {
  font-size: 18px;
}

select.form-control option,
select.form-control optgroup {
  color: #000000;
}
