.error {
  display: block;
  color: $main-pink !important;
  padding-top: 7px;
  font-size: 16px !important;
}

.general-error {
  color: $main-pink;
  text-align: center !important;
}

.upload-error {
  @extend .general-error;
}
