.error {
  display: block;
  color: $main-pink !important;
  padding-top: 7px;
  font-size: 16px !important;
}

.general-error {
  color: $main-pink;
  text-align: center !important;
}

.general-error {
  &.error-pb-0 {
    p {
      padding-bottom: 0 !important;
    }
  }
}

.upload-error {
  @extend .general-error;
}
