@keyframes infinite-star {
  0% {
    fill: $bonus-dark;
  }
  to {
    fill: $bonus-pink;
  }
}

.infinite-pulsing {
  animation-name: infinite-star;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-easing-function: easeInBounce;
}
