.spinner-border {
  &.city-loader {
    position: absolute;
    top: 15px;
    right: 0;
    color: $primary-blue;
  }
}

.profile-list {
  .spinner-border {
    position: absolute;
    top: 49%;
    right: 3px;
    color: $primary-blue;
  }
}
