/* Modals */

.modal {
  padding-right: 0 !important;
  .modal-lg {
    max-width: 600px !important;
  }

  .modal-xl {
    max-width: 950px !important;
  }

  .modal-body {
    .photo-description {
      figure {
        width: 100%;
        max-width: 100%;
        position: relative;
        text-align: center !important;

        img {
          @include image;
        }

        .privacy {
          position: absolute;
          top: 10px;
          left: 10px;
          min-width: 100px;
          height: 30px;

          h4 {
            font-size: $paragraph-size;
          }
        }

        .delete {
          position: absolute;
          top: 10px;
          right: 10px;
          min-width: 80px;
          height: 30px;
          border: none;
          outline: none;
        }
      }

      p {
        font-weight: 300;
        font-size: $paragraph-size;
      }
    }
  }
}
