/* Modals */

.modal {
  padding-right: 0 !important;

  .modal-md {
    max-width: $modal-md;
  }

  .modal-lg {
    max-width: $modal-lg;
  }

  .modal-xl {
    max-width: $modal-xl;
  }

  .modal-dialog {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* Modal with medium width starting from small screen */
  .modal-sm-md {
    @include screen-sm {
      max-width: $modal-md;
    }
  }
  .modal-body {
    .photo-description {
      figure {
        width: 100%;
        max-width: 100%;
        position: relative;
        text-align: center !important;

        img {
          @include image;
        }

        .privacy {
          position: absolute;
          top: 10px;
          left: 10px;
          min-width: 100px;
          height: 30px;

          h4 {
            font-size: $paragraph-size;
          }
        }

        .delete {
          position: absolute;
          top: 10px;
          right: 10px;
          min-width: 80px;
          height: 30px;
          border: none;
          outline: none;
        }
      }

      p {
        font-weight: 300;
        font-size: $paragraph-size;
      }
    }
  }
}
