/* heights  */
.h-2 {
  height: 2px;
}

.h-4 {
  height: 4px;
}

.h-6 {
  height: 6px;
}

.h-8 {
  height: 8px;
}

.h-10 {
  height: 10px;
}

/* Text */

.pink-text {
  color: $main-pink;
}

.text-underline {
  text-decoration: underline !important;
}

.pointer {
  cursor: pointer;
}
