/* heights  */
.h-2 {
  height: 2px;
}

.h-4 {
  height: 4px;
}

.h-6 {
  height: 6px;
}

.h-8 {
  height: 8px;
}

.h-10 {
  height: 10px;
}

/* Text */

@if $blue-theme {
  .pink-text {
    color: $secondary-color;
  }
}

.text-underline {
  text-decoration: underline !important;
}

.pointer {
  cursor: pointer;
}

/* icon specific */

.fill-pink {
  fill: $icon-pink !important;
}

.default-scale {
  transform: scale3d(1, 1, 1) !important;
}

/* line height */
.line-height-sm {
  line-height: 1.2;
}

/*common padding*/
.p-15 {
  padding: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}
