@mixin background($image) {
  background-image: $image;
  background-size: cover;
  min-height: 100%;
}

@mixin image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*Circular badge*/
@mixin circular-badge($diameter) {
  width: $diameter;
  height: $diameter;
  min-width: $diameter;
  min-height: $diameter;
  line-height: $diameter;
  vertical-align: middle;
  border-radius: 50%;
}

/* Closing modal cross*/
@mixin modal-close($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

/* small pagination link */
@mixin pagination-link {
  @include ease-out;
  display: inline-block;
  padding: 8px 12px;
  background: #fff;
  border: 1px solid #dee2e6;
  border-right: none;
  color: $main-pink;
  cursor: pointer;
}

/* Avatar */
@mixin avatar($max-width, $line-height, $pointer: false) {
  display: block;
  width: 100%;
  max-width: $max-width;
  height: auto;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  border: 3px solid #fff;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;

  @if $pointer {
    cursor: pointer;
  } @else {
    cursor: auto;
  }

  img {
    @include image;
    line-height: $line-height;
    vertical-align: middle;
  }
}

/*Responsize font size*/

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

/*Transition effects*/

@mixin ease-out {
  transition: all 0.5s ease-out;
}

/*Media queries*/

@mixin screen-xs {
  @content;
}

@mixin screen-sm {
  @media (min-width: $screen-sm) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: $screen-md) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: $screen-xl) {
    @content;
  }
}
