.anim {
  width: 150px;
  height: auto;
}
#path1 {
  stroke-dasharray: 295;
  stroke-linecap: round;
  animation: animate 4s ease-in infinite;
}
#path1,
#path2 {
  stroke-width: 1px;
}
@keyframes animate {
  0% {
    stroke-dashoffset: 295;
  }
  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -295;
  }
}
