.chat-list {
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 70px - 45px);

  @include screen-lg {
    height: calc(100vh - 70px - 60px);
  }

  .title {
    @include fluid-type($screen-xs, $screen-xl, 22px, 26px);
  }

  .chatList-message {
    /* All the messages' styles */
    .avatar {
      margin: 0;

      @include circular-badge(80px);
      @include screen-sm {
        @include circular-badge(90px);
      }
      @include screen-md {
        @include circular-badge(100px);
      }

      img {
        @include image;
      }
    }

    .name {
      @include fluid-type($screen-xs, $screen-xl, 16px, 18px);
    }

    .text {
      @include fluid-type($screen-xs, $screen-xl, 14px, 15px);
      max-width: calc(100% - 34px);
    }

    /* New messages styles */
    &.unread {
      .name {
        font-weight: 700;
        display: flex;
        align-items: center;
      }

      .text {
        font-weight: 600;
      }

      .date {
        font-weight: 600;
      }
    }
  }
}
