.form-wrapper {
  .form-signin {
    @include form;
    width: 320px;
  }

  .form-signin-lg {
    @include form;
    width: 450px;
  }

  .back {
    max-width: 320px;
    margin: 0 auto;
  }
}

.login-and-registration {
  min-height: 65vh;
}
