.form-wrapper {
  /* Utility class for backwards button*/
  .back-default {
    margin: 0 auto;
  }

  .form-signin {
    @include form;
    width: $formWidth;
  }

  .form-signin-lg {
    @include form;
    width: $formWidth-lg;
  }

  .back {
    @extend .back-default;
    max-width: $formWidth;
  }

  .back-lg {
    @extend .back-default;
    max-width: $formWidth-lg;
  }
}

.login-and-registration {
  min-height: 65vh;
}
