.profile {
  .profile-avatar {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    border: 3px solid #fff;
    vertical-align: top;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    @include screen-sm {
      max-width: 100%;
      border-radius: unset;
    }

    img {
      @include image;
      vertical-align: top;
    }
  }

  .name {
    @include fluid-type($screen-xs, $screen-xl, 24px, 32px);
    font-weight: 500;
  }

  .about {
    @include fluid-type($screen-xs, $screen-xl, 22px, 30px);
    font-weight: 500;
  }

  .description {
    @include fluid-type($screen-xs, $screen-xl, 15px, 18px);
  }

  .city {
    @include fluid-type($screen-xs, $screen-xl, 16px, 20px);
  }

  .information {
    list-style: none;

    .label {
      font-size: 14px;
    }

    .data {
      @include fluid-type($screen-xs, $screen-xl, 15px, 18px);
    }
  }

  .action {
    border-radius: 5px;
    @include fluid-type($screen-xs, $screen-xl, 12.8px, 18px);
    line-height: 1.3;

    img {
      width: 30px;
      height: auto;
    }
  }

  .superlike {
    background: $superlike-yellow;
  }

  .bonus {
    background: $present-blue;
  }

  .chat {
    display: block;
    background: $main-pink;
  }
}
