.search-profiles-form {
  .search-form {
    border: 1px solid $label-border;
    background: #fff;

    /* Spinner for city input */
    .city-loader {
      position: absolute;
      top: 33px;
      right: 3px;
      color: $primary-color;
    }

    .form-area-sm {
      @include screen-sm {
        border-right: 1px solid $label-border;
      }
    }

    .form-area-lg {
      @include screen-lg {
        border-right: 1px solid $label-border;
      }
    }

    .group-label {
      @include fluid-type(320px, 1200px, 16px, 18px);
      font-weight: 400;
      padding-bottom: 10px;
    }

    /* slider styles */
    .noUi-connect {
      background: $primary-color;
    }

    .noUi-handle {
      outline: none;
    }

    .noUi-target {
      background: $main-background-color;
    }
  }
}
