/*--Articles cards--*/

article {
  h1 {
    @include fluid-type(
      $screen-xs,
      $screen-xl,
      decrease-font-size($h1, 10px),
      $h1
    );
  }

  h2 {
    font-size: decrease-font-size($h2, 10);
  }

  .header {
    display: grid;
    grid-gap: 3px;
    grid-template-areas:
      'title'
      'subtitle'
      'date'
      'social';
    grid-template-columns: 1fr;

    h1 {
      grid-area: title;
    }

    h2 {
      grid-area: subtitle;
    }

    .social {
      grid-area: social;
      font-size: $h2;

      a {
        color: $dark;
      }
    }

    time {
      grid-area: date;
    }
  }
}

/*--Articles slider--*/

.news-slide {
  height: 500px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.news-slide .swiper-slide {
  padding: 0 15px 10px 15px;

  img {
    @include image;
    max-height: 270px;
  }

  h3 {
    font-size: $h3;
  }

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
}

.news-slide .swiper-slide .card {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.news-slide.swiper-container-horizontal > .swiper-pagination-bullets {
  margin-bottom: -10px;
}

/*--Articles media queries--*/

@include screen-sm {
  article {
    .header {
      grid-template-areas:
        'title social'
        'subtitle empty'
        'date empty';
      grid-template-columns: 2fr 1fr;
    }
  }
}

@include screen-md {
  article {
    .header {
      grid-template-areas:
        'title social'
        'subtitle date';

      grid-gap: 0;

      time {
        justify-self: end;
      }
    }
  }
}
