.chat {
  height: calc(100vh - 60px);
  max-width: 500px;
  background: #fff;

  .chat-header {
    background: #fff;
    height: 77px;

    .profile-avatar {
      @include avatar(77px, 77px, true);
    }

    .chat-present {
      min-width: 25px;
    }

    .user-info {
      height: 60px;
    }
  }

  .chat-content {
    height: calc(100vh - 137px);

    .chat-body {
    }

    /* General message*/
    .message-general {
      border-radius: 15px;
      max-width: 85%;

      .time {
        position: absolute;
        font-size: 12px;
        bottom: 10px;
        right: 10px;
      }

      .text {
        max-width: 95%;
      }

      &.mine {
        background: lighten($light-blue, 7);
        align-self: flex-end;
      }

      &.alien {
        background: lighten($bootstrap-secondary, 45);
      }
    }

    .send-message {
      .send {
        @include ease-out;
        position: absolute;
        font-size: 28px;
        color: $main-blue;
        right: 5px;
        top: 10px;

        &:hover {
          color: $primary-blue;
        }
      }
    }
  }
}
