.wrapper.wrapper-padding {
  padding-top: 70px;
}

.wrapper {
  &.wrapper-padding-top {
    padding-top: 70px;
  }

  &.wrapper-padding-bottom {
    padding-bottom: 60px !important;
  }
}

.private-header {
  width: 100%;
  @if $blue-theme {
    background-image: linear-gradient(
      135deg,
      darken($primary-color, 15),
      $primary-color
    );
    height: 70px;
  } @else if $bf-theme {
    background: $primary-color !important;
    min-height: 70px;
  }

  position: fixed;
  padding: env(safe-area-inset-top);
  top: 0;
  left: 0;
  z-index: 9;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
}

.private-header.active {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.private-header-logo {
  height: auto;
  max-height: 48px;
  display: inline-block;
  vertical-align: middle;
  margin: 6px auto 0px auto;
}

.private-header {
  .account {
    height: 54px;
    width: 54px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;

    &:hover,
    &:focus {
      color: $light-primary-color !important;
    }
  }

  .boost {
    @include circular-badge(60px);
    background: #fff;
    margin: 0 20px;
    cursor: pointer;
    position: relative;

    .svg-wrapper {
      width: 40px;
      height: 40px;
    }

    .timer {
      position: absolute;
      bottom: -7px;
      font-size: 12px;
      width: 75px;
      line-height: 1.5;
      background: $secondary-color;
      color: #fff;
      border-radius: 13px;
    }
  }
}
