/* Skeleton screen layout */
.skeleton {
  .card {
    height: $card-height;
    position: relative;

    .skeleton-element {
      position: absolute;
      background-image: linear-gradient(
        90deg,
        $skeleton-base-color 0px,
        $skeleton-shine-color 40px,
        $skeleton-base-color 80px
      );
      background-size: 600px;
      border-radius: 15px;
      animation: shine-lines 1.6s infinite linear;

      &.skeleton-badge {
        width: 69px;
        height: 18px;
        right: 15px;
        top: 15px;
      }

      &.skeleton-title {
        top: 50%;
        left: 15px;
        width: 80%;
        height: 20px;
      }

      &.skeleton-subtitle {
        top: 60%;
        left: 15px;
        width: 59%;
        height: 15px;
      }

      &.skeleton-button {
        bottom: 30px;
        width: 130px;
        height: 36px;
        left: calc(50% - 65px);
        border-radius: 20px;
      }
    }
  }
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40% {
    background-position: 140px;
  }
  100% {
    background-position: 140px;
  }
}
