.form-steps {
  width: 90%;
  position: relative;

  // Progress bar styles
  .progress {
    .progress-bar {
      @include ease-out;
      background: #fff;
    }
  }

  .steps {
    width: 100%;
    position: absolute;
    top: 2.5px;

    .step {
      @include circular-badge(30px);
      @include ease-out;
      background: #fff;
      position: relative;

      .label {
        position: absolute;
        top: 120%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        line-height: 1.2;
        min-width: 50px;
      }

      &.step-passed {
        color: $primary-color;
      }

      &.step-current {
        display: flex;
        align-items: center;
        justify-content: center;

        .current-mark {
          @include circular-badge(8px);
          background: lighten($primary-color, 7);
        }
      }

      &.step-further {
        background: radial-gradient($primary-color, darken($primary-color, 5));
        border: 1x solid darken($primary-color, 7);
      }
    }
  }

  &.checkout-form {
    // Apply styles for checkout form here
    // Progress bar styles
    .progress {
      .progress-bar {
        background: #fff;
      }
    }

    .step {
      .label {
        @if $gf-theme {
          color: $secondary-color;
        } @else if $bf-theme {
          color: $primary-color;
        }
      }

      &.step-passed {
        text-align: center;
      }

      &.step-current {
        .current-mark {
          @if $gf-theme {
            background: $secondary-color;
          } @else if $bf-theme {
            background: $primary-color;
          }
        }
      }

      &.step-further {
        background: #fff;
      }
    }
  }
}
