footer.public-footer {
  h2 {
    font-size: decrease-font-size($h2, 10px);
  }

  nav {
    width: 100%;

    ul {
      list-style: none;
      width: 100%;
    }
  }
}

@include screen-md {
  footer.public-footer {
    nav {
      min-width: 350px;
      max-width: 450px;

      ul {
        width: auto;
      }
    }
  }
}
