.blue-theme .bg-background,
.blue-theme .header.active,
.blue-theme .list-group-item.active {
  background-color: #e7efff;
}

.blue-theme .wrapper {
  background-color: $main-background-color;
  background-image: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e7efff 100%
  );
  background-image: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(100%, $main-background-color)
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    $main-background-color 100%
  );
  background-image: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    $main-background-color 100%
  );
  background-image: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    $main-background-color 100%
  );
  background-image: radial-gradient(
    ellipse at center,
    rgba(250, 250, 250, 1) 0%,
    $main-background-color 100%
  );
  background-attachment: inherit;
  background-position: center top;
  background-size: 100% 100%;
}

.blue-theme body,
.blue-theme body.sidemenu-open,
.blue-theme .bg-template,
.blue-theme .custom-control-input:checked ~ .custom-control-label::before,
.blue-theme .small-slide .swiper-slide .card:hover,
.blue-theme .small-slide .swiper-slide .card:focus,
.blue-theme .filter,
.blue-theme .chosen-container .chosen-results li.highlighted,
.blue-theme .nav-pills .nav-link.active,
.blue-theme .nav-pills .show > .nav-link,
.blue-theme .loader-screen {
  background-color: $primary-color;
}

.blue-theme .btn-default {
  background-color: $secondary-color;
}

.blue-theme .filter,
.blue-theme .filter .form-control,
.blue-theme .filter .form-group label,
.blue-theme .float-label .chosen-container-multi .chosen-choices,
.blue-theme
  .float-label
  .chosen-container-multi
  .chosen-choices
  li.search-field
  input[type='text'],
.blue-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.blue-theme .btn-default,
.blue-theme .sidebar,
.blue-theme .sidebar .main-menu .list-group-item,
.blue-theme .small-slide .swiper-slide .card:hover *,
.blue-theme .small-slide .swiper-slide .card:focus * {
  color: #ffff !important;
}

.blue-theme .filter .form-group label {
  opacity: 0.85;
}

.blue-theme .btn-default:hover,
.blue-theme .btn-default:focus {
  color: #ffffff;
  background-color: $light-secondary-color;
}

.blue-theme .figure-profile,
.blue-theme .form-control:focus,
.blue-theme .custom-control-input:focus ~ .custom-control-label::before,
.blue-theme .custom-control-input:checked ~ .custom-control-label::before,
.blue-theme .float-label .form-control:focus,
.blue-theme .btn-outline-default {
  border-color: $primary-color;
}

.blue-theme .filter .form-control:focus,
.blue-theme .filter .custom-control-input:focus ~ .custom-control-label::before,
.blue-theme
  .filter
  .custom-control-input:checked
  ~ .custom-control-label::before,
.blue-theme .filter .float-label .form-control:focus {
  border-color: #ffffff;
}

.blue-theme .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem $light-primary-color;
}

.blue-theme .btn-light:hover,
.blue-theme .btn-light:focus,
.blue-theme .btn-light:not(:disabled):not(.disabled).active,
.blue-theme .bg-template-light {
  background-color: $light-primary-color;
}

.blue-theme .text-template,
.blue-theme .btn-link,
.blue-theme a,
.blue-theme .float-label .form-control:focus + .form-control-label,
.blue-theme .btn-light:hover,
.blue-theme .btn-light:focus,
.blue-theme .btn-light:not(:disabled):not(.disabled).active,
.blue-theme .btn.btn-link-default:hover,
.blue-theme .btn.btn-link-default:focus,
.blue-theme .btn.btn-link-default.active {
  color: $secondary-color;
}

.blue-theme .bg-warning,
.blue-theme .badge-warning {
  background-color: $warning-yellow !important;
}

.blue-theme .bg-success,
.blue-theme .badge-success {
  background-color: $success-blue !important;
}

.blue-theme .bg-orange,
.blue-theme .badge-orange {
  background-color: $orange !important;
}

.blue-theme .bg-primary,
.blue-theme .badge-primary {
  background-color: $primary-blue !important;
}

.blue-theme .orange-slice {
  margin-right: -110px;
}

.blue-theme {
  .text-secondary {
    color: $secondary-color !important;
  }

  .form-control {
    border: 1px solid $light-gray;
  }

  .float-label .form-control,
  .float-label .chosen-container .chosen-choices,
  .float-label .chosen-container .chosen-single {
    border-width: 0 0 1px 0;
  }

  .badge-primary {
    background: $primary-color !important;
  }

  /*Additional badge and background*/
  .bg-pink,
  .badge-secondary {
    background-color: $secondary-color !important;
  }

  .text-primary {
    color: $secondary-color !important;
  }

  a {
    &.text-primary {
      &:hover,
      &:focus {
        color: $light-secondary-color !important;
      }
    }
  }

  .dropdown-item {
    &:active {
      background: #fff !important;
      color: $label-color;
    }
  }

  /*Transparent white button*/
  .btn-outline-white {
    border-color: #fff;
    background: transparent;
    color: #fff;

    &:focus,
    &:hover {
      color: darken($primary-color, 10);
      background: #fff;
    }
  }

  .btn-outline-primary {
    border: 1px solid $secondary-color;
    color: $secondary-color;
    background: transparent;
  }

  .btn-outline-primary:hover {
    color: #fff;
    background: $secondary-color !important;
  }

  .btn-success {
    @include ease-out;
    background: $success-green;

    &:hover {
      background: darken($success-green, 5);
    }
  }

  .plan-input:checked ~ .plan-label {
    color: #fff;
    background: $secondary-color !important;
  }

  /*Link effects*/
  .link-hover {
    @include ease-out;
    cursor: pointer;

    &:focus,
    &:hover {
      color: $light-primary-color !important;
    }
  }

  .page-item {
    .page-link {
      @include ease-out;
      color: $secondary-color;
    }

    &:hover .page-link,
    &:focus .page-link {
      color: #fff;
      border-color: #fff;
      background: $secondary-color;
    }

    &.active {
      .page-link {
        color: #fff;
        background: $secondary-color;
        border-color: #fff;
      }
    }
  }

  .profile-list {
    .pagination {
      a {
        @include pagination-link;

        &.jp-current,
        &:focus,
        &:hover {
          background: $secondary-color;
          color: #fff;
          border-color: #fff;
        }

        &.jp-disabled {
          color: $bootstrap-secondary;
          background: #fff;
          cursor: not-allowed;
        }

        &:last-of-type {
          border-right: 1px solid #dee2e6;
        }
      }

      span {
        @include pagination-link;
        cursor: auto;
      }
    }
  }
}
