.gf-theme .bg-background,
.gf-theme .header.active,
.gf-theme .list-group-item.active {
  background-color: #e7efff;
}

.gf-theme .wrapper {
  background-color: $main-background-color;
  background-image: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e7efff 100%
  );
  background-image: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(100%, $main-background-color)
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    $main-background-color 100%
  );
  background-image: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    $main-background-color 100%
  );
  background-image: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    $main-background-color 100%
  );
  background-image: radial-gradient(
    ellipse at center,
    rgba(250, 250, 250, 1) 0%,
    $main-background-color 100%
  );
  background-attachment: inherit;
  background-position: center top;
  background-size: 100% 100%;
}

.gf-theme body,
.gf-theme body.sidemenu-open,
.gf-theme .bg-template,
.gf-theme .custom-control-input:checked ~ .custom-control-label::before,
.gf-theme .small-slide .swiper-slide .card:hover,
.gf-theme .small-slide .swiper-slide .card:focus,
.gf-theme .filter,
.gf-theme .chosen-container .chosen-results li.highlighted,
.gf-theme .nav-pills .nav-link.active,
.gf-theme .nav-pills .show > .nav-link,
.gf-theme .loader-screen {
  background: $primary-color;
}

.gf-theme .btn-default {
  background-color: $secondary-color;
}

.gf-theme .filter,
.gf-theme .filter .form-control,
.gf-theme .filter .form-group label,
.gf-theme .float-label .chosen-container-multi .chosen-choices,
.gf-theme
  .float-label
  .chosen-container-multi
  .chosen-choices
  li.search-field
  input[type='text'],
.gf-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.gf-theme .btn-default,
.gf-theme .sidebar,
.gf-theme .sidebar .main-menu .list-group-item,
.gf-theme .small-slide .swiper-slide .card:hover *,
.gf-theme .small-slide .swiper-slide .card:focus * {
  color: #ffff !important;
}

.gf-theme .filter .form-group label {
  opacity: 0.85;
}

.gf-theme .btn-default:hover,
.gf-theme .btn-default:focus {
  color: #ffffff;
  background-color: $light-secondary-color;
}

.gf-theme .figure-profile,
.gf-theme .form-control:focus,
.gf-theme .custom-control-input:focus ~ .custom-control-label::before,
.gf-theme .custom-control-input:checked ~ .custom-control-label::before,
.gf-theme .float-label .form-control:focus,
.gf-theme .btn-outline-default {
  border-color: $primary-color;
}

.gf-theme .filter .form-control:focus,
.gf-theme .filter .custom-control-input:focus ~ .custom-control-label::before,
.gf-theme .filter .custom-control-input:checked ~ .custom-control-label::before,
.gf-theme .filter .float-label .form-control:focus {
  border-color: #ffffff;
}

.gf-theme .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem $light-primary-color;
}

.gf-theme .btn-light:hover,
.gf-theme .btn-light:focus,
.gf-theme .btn-light:not(:disabled):not(.disabled).active,
.gf-theme .bg-template-light {
  background-color: #fff;
}

.gf-theme .text-template,
.gf-theme .btn-link,
.gf-theme .float-label .form-control:focus + .form-control-label,
.gf-theme .btn-light:hover,
.gf-theme .btn-light:focus,
.gf-theme .btn-light:not(:disabled):not(.disabled).active,
.gf-theme .btn.btn-link-default:hover,
.gf-theme .btn.btn-link-default:focus,
.gf-theme .btn.btn-link-default.active {
  color: $secondary-color;
}

.gf-theme .bg-warning,
.gf-theme .badge-warning {
  background-color: $warning-yellow !important;
}

.gf-theme .bg-success,
.gf-theme .badge-success {
  background-color: $success-green !important;
}

.gf-theme .bg-orange,
.gf-theme .badge-orange {
  background-color: $orange !important;
}

.gf-theme .bg-primary {
  background-color: $primary-color !important;
}

.gf-theme .orange-slice {
  margin-right: -110px;
}

.gf-theme {
  ::placeholder {
    color: $bootstrap-secondary;
  }

  .loader-screen {
    background-image: linear-gradient(
      135deg,
      darken($primary-color, 25),
      $primary-color
    );
  }

  .text-warning {
    color: $orange !important;
  }

  .form-control {
    border: 1px solid $light-gray;
  }

  .float-label .form-control,
  .float-label .chosen-container .chosen-choices,
  .float-label .chosen-container .chosen-single {
    border-width: 0 0 1px 0;
  }

  .badge-primary {
    background: $primary-color !important;
  }

  .badge-light {
    background: $light-primary-color !important;
    color: #fff !important;
  }

  .btn-light {
    background: $light-primary-color;
    color: #fff;

    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled).active {
      background: lighten($light-primary-color, 7);
      color: #fff;
    }
  }

  .text-dark-gray {
    color: $dark !important;
  }

  /*Additional badge and background*/
  .bg-pink,
  .badge-secondary {
    background-color: $secondary-color !important;
  }

  .text-primary {
    color: $primary-color !important;
  }

  .text-dark-emphasize {
    color: $secondary-color;
  }

  .text-light-emphasize {
    color: $light-primary-color;
  }

  a {
    color: $dark;

    &.text-primary {
      &:hover,
      &:focus {
        color: $light-secondary-color !important;
      }
    }
  }

  .dropdown-item {
    &:active {
      background: #fff !important;
      color: $label-color;
    }
  }

  /*Transparent white button*/
  .btn-outline-white {
    border-color: #fff;
    background: transparent;
    color: #fff;

    &:focus,
    &:hover {
      color: darken($primary-color, 10);
      background: #fff;
    }
  }

  .btn-primary {
    color: #fff;
    background-color: $primary-color !important;

    &:hover,
    &:focus {
      background-color: $dark-primary-color !important;
    }

    &:active {
      background-color: $primary-color !important;
    }
  }

  .btn-outline-primary {
    border: 1px solid $primary-color;
    color: $primary-color;
    background: transparent;
  }

  .btn-secondary {
    color: #fff;
    background: $secondary-color;
    border-color: $secondary-color;

    &:hover,
    &:focus {
      background: $light-secondary-color !important;
      border-color: $light-secondary-color !important;
    }

    &:active {
      background: $secondary-color !important;
    }
  }

  .btn-outline-primary:hover {
    color: #fff;
    background: $primary-color !important;
  }

  .btn-success {
    background: $success-green !important;

    &:hover,
    &:focus {
      background: darken($success-blue, 5) !important;
    }

    &:active {
      background: $success-blue !important;
    }
  }

  .text-success {
    color: $success-green !important;
  }

  .plan-input:checked ~ .plan-label {
    color: #fff;
    background: $secondary-color !important;
  }

  /*Link effects*/
  .link-hover {
    cursor: pointer;
    color: $secondary-color;

    &:focus,
    &:hover {
      color: $light-secondary-color !important;
    }
  }

  .link-underline {
    &:hover,
    &:focus {
      text-decoration: underline !important;
    }
  }

  .page-item {
    .page-link {
      @include ease-out;
    }

    &:hover .page-link,
    &:focus .page-link {
      color: #fff;
      border-color: #fff;
      background: $secondary-color;
    }

    &.active {
      .page-link {
        color: #fff;
        background: $secondary-color;
        border-color: #fff;
      }
    }
  }

  .profile-list {
    .pagination {
      a {
        @include pagination-link;

        &.jp-current,
        &:focus,
        &:hover {
          background: $secondary-color;
          color: #fff;
          border-color: #fff;
        }

        &.jp-disabled {
          color: $bootstrap-secondary;
          background: #fff;
          cursor: not-allowed;
        }

        &:last-of-type {
          border-right: 1px solid #dee2e6;
        }
      }

      span {
        @include pagination-link;
        cursor: auto;
      }
    }
  }
}
